.reportcard {
	font-size: 10px;
	font-family: "Arial", sans-serif;
	margin: 30px auto 0;
	padding: 20px;
	background-color: white;

	.studentHeader {
		justify-content: center;
		font-size: 14px;
		font-weight: 400;
		color: #333;
		display: flex;
		align-items: center;
		gap: 8px;
		flex-wrap: wrap;
		margin-bottom: 20px;
	}
	.logoContainer {
		text-align: start;
		margin: 0 30px 15px;
		.logoImage {
			width: 150px;
		}
	}

	.label {
		font-weight: bold;
	}

	&grid {
		display: flex;
		flex-wrap: wrap;
		gap: 12px;
	}

	.categorysection {
		border-radius: 8px;
		overflow: hidden;
		background-color: #f9f9f9;
		height: 100%;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
		flex: 1 calc(50% - 12px);
	}

	.categoryheader {
		display: grid;
		grid-template-columns: 0.7fr 0.3fr 1fr;
		padding: 8px 12px;
		color: #333;
		font-weight: bold;

		.categorytitle,
		.gradinglabel,
		.noteslabel {
			text-align: left;
		}
	}

	.skillrow {
		display: grid;
		grid-template-columns: 0.7fr 0.3fr 1fr;
		background: #f9f9f9;
		padding: 8px 12px;
		border-bottom: 2px solid #eee;
		text-align: left;

		&:last-child {
			border-bottom: none;
		}

		.skillname {
			color: #555;
		}

		.skillrating {
			display: flex;
			gap: 2px;
		}

		.skillnotes {
			color: #666;
		}
	}

	.star {
		&.filled {
			text-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
		}

		&.empty {
			color: #ddd !important;
		}
	}
}

.schoolHeader {
	background-color: white;
	color: #333;
	font-size: 14px;
	font-weight: 400;
	padding: 10px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	flex-wrap: wrap;
}
.schoolInfo {
	.schoolName {
		font-weight: bold;
	}
}

.backgroundImage {
	width: 100%;
	height: auto;
}
@media (max-width: 768px) {
	.reportcard {
		padding: 10px;
		&grid {
			flex-direction: column;
		}
	}

	.categorysection {
		flex: 1 1 100%;
		max-width: 100%;
	}
}
